<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello</h1>
    <p>This email confirms your purchase.</p>
    <ul>
      <li> Order #: <%= @order.id %> </li>
      <li> Movie: <%= @order.showtime.movie.title %> </li>
      <li> Showtime: <%= @order.showtime.pretty_time %> </li>
      <li> Ticket Quantity: <%= @order.quantity %> </li>
      <li> Total Price: <%= @order.total_price %> </li>
    </ul>
  </body>
</html>